/* @import 'tailwindcss/base'; */
@import 'tailwindcss/components';

/* Additional styles */
@import 'additional-styles/utility-patterns.css';
@import 'additional-styles/range-slider.css';
@import 'additional-styles/toggle-switch.css';
@import 'additional-styles/theme.css';
@import 'tailwindcss/utilities';

/* Additional Tailwind directives: https://tailwindcss.com/docs/functions-and-directives/#responsive */
@layer utilities {
    .rtl {
        direction: rtl;
    }
}

@font-face {font-family: 'belleza-regular';
            src: url(../../public/fonts/Belleza-Regular.ttf) format('truetype');}

@font-face {font-family: 'now-light';
            src: url(../../public/fonts/now.light.otf) format('opentype');}

@font-face {font-family: 'now-medium';
            src: url(../../public/fonts/now.medium.otf) format('opentype');}                

@font-face {font-family: 'now-bold';
            src: url(../../public/fonts/now.bold.otf) format('opentype');}

/* See Alpine.js: https://github.com/alpinejs/alpine#x-cloak */
[x-cloak=""] {
    display: none;
}


.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
  }
  
  .card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    text-align: center;
  }
  
  .card img {
    width: 100%;
    height: auto;
  }
  
  .card-content {
    padding: 20px;
  }
  
  .card-title {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
  }
  
  .card-description {
    font-size: 1em;
    color: #666;
  }